<div>
  This project is dedicated to any computer science students that is interested in notes.

  <h3>Meet the team!</h3>

  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in about.members" ng-click="about.openLink(item.link)">
        <img class="md-avatar" src="{{item.avatar}}" >
        <div class="md-list-item-text" layout="column">
          <h3><strong><a>{{item.name}}</a></strong></h3>
          <h4>{{item.university}}</h4>
          <p>{{item.course}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</div>
