<div class="page">
  <hr/>
  <h1 align="center"> Year 3 Course Notes </h1>
  <hr/>
  <br>

  <table align="center">
    <tr class="module" style="font-weight: bold;">
      <th> Day</th>
      <th> Date</th>
      <th> Start Time</th>
      <th> Module</th>
      <th> Drive</th>
      <th> Students</th>
      <th> Room</th>
      <th> Duration</th>
    </tr>
    <tr class="module"> <!-- Operating Systems -->
      <td>Saturday!?</td>
      <td align="center">05/05/2018</td>
      <td align="center">09:30</td>
      <td><a href="https://docs.google.com/document/d/1luPAKbV0H7r1eUgLoqN_k9hDGS4_LmxaQpWJ5Wwirpo/edit?usp=sharing">
        Operating Systems </a></td>
      <td><a href="https://drive.google.com/drive/folders/1NXCr48FleVcq58VC2d7q5yHjwHSoXdHu?usp=sharing">Link</a></td>
      <td>K, R, S</td>
      <td>Nuffield Room G17</td>
      <td align="center">1:30hrs</td>
    </tr>
    <tr class="module"> <!-- Principles of Programming Languages -->
      <td>Wednesday</td>
      <td align="center">09/05/2018</td>
      <td align="center">09:30</td>
      <td><a href="https://docs.google.com/document/d/1V1EJW9K8qbm4PxnW0XP3Hl6yvGKdo1bYEIwQREiwQ4U/edit?usp=sharing">
        Principles of Programming Languages </a></td>
      <td><a href="https://drive.google.com/drive/folders/1wQgWzauAYHulU0tMc-EejlwkNNlBfLNU?usp=sharing">Link</a></td>
      <td>K, R, S</td>
      <td>Mech Eng G36</td>
      <td align="center">1:30hrs</td>
    </tr>
    <tr class="module"> <!-- Human Computer Interaction -->
      <td>Monday</td>
      <td align="center">14/05/2018</td>
      <td align="center">09:30</td>
      <td><a href="https://docs.google.com/document/d/18urVG9ZDx5OA5MaRInFnP8uzaeRcJnpzK5-lk404irY/edit?usp=sharing">
        Human Computer Interaction </a></td>
      <td></td>
      <td>K, S</td>
      <td>UoB Sports and Fitness</td>
      <td align="center">1:30hrs</td>
    </tr>
    <tr class="module"> <!-- Mobile and Ubiquitous Computing -->
      <td>Thursday</td>
      <td align="center">17/05/2018</td>
      <td align="center">09:30</td>
      <td><a href="https://docs.google.com/document/d/1MvW5AiGFS0FODlnYqF-nXaRHmEbieuuuRD68Y0zBT6A/edit?usp=sharing">
        Mobile and Ubiuitous Computing </a></td>
      <td><a href="https://drive.google.com/drive/folders/16xTl55S7PIgM5gfpI2lHMLzaccX_W73i?usp=sharing">Link</a></td>
      <td>K, R, S</td>
      <td>Avon Room</td>
      <td align="center">2:0hrs</td>
    </tr>
    <tr class="module"> <!-- Networks -->
      <td>Friday</td>
      <td align="center">18/05/2018</td>
      <td align="center">09:30</td>
      <td><a href="https://docs.google.com/document/d/1ZoKofGkgTjDsgLj31UTLJj3bN-ZIDzLOrdAfW82zTAo/edit?usp=sharing">
        Networks </a></td>
      <td><a href="https://drive.google.com/drive/folders/1nyGHkV-whEG9Ujet5ooOnVCqIKDOXfxM?usp=sharing">Link</a></td>
      <td>K, R, S</td>
      <td>Great Hall</td>
      <td align="center">2:0hrs</td>
    </tr>
    <tr class="module"> <!-- Compilers and Languages -->
      <td>Thursday</td>
      <td align="center">24/05/2018</td>
      <td align="center">14:00</td>
      <td><a href="https://docs.google.com/document/d/14hi5eKKBJjt9jm1ZqdCo3LDfFXAeWcuC2IRixR_wHKQ/edit?usp=sharing">
        Compilers and Languages</a></td>
      <td><a href="https://drive.google.com/drive/folders/1cruWyO7NOFR0FMJT1Mo0Mi7iIfKMBIv0?usp=sharing">Link</a></td>
      <td>K, R, S</td>
      <td>Muirhead 121</td>
      <td align="center">1:30hrs</td>
    </tr>
  </table>
  <br>
  <h3 align="center"><a href="https://drive.google.com/open?id=0B7kdYx-I9nTgdTREUThVUW9aQUE">Shared Past Papers</a></h3>

  <div class="logos" align="middle">
    <div class="imgContainer">
      <a href="https://canvas.bham.ac.uk">
        <img border="0" src="images/canvas-logo.jpg" width="200" height="100">
      </a>
    </div>
    <div class="imgContainer">
      <a href="https://my.bham.ac.uk">
        <img border="0" src="images/mybham.jpg" width="200" height="60">
      </a>
    </div>
  </div>

  <br>
  <br>
  <hr/>
  Click on respective Module title to view its notes.
  <br>
</div>
