<div class="page">
  <hr/>
  <h1 align="center"> Year 3 Course Notes </h1>
  <hr/>
  <br>

  <table align="center">
    <tr class="module" style="font-weight: bold;">
      <th> Semester</th>
      <th> Module</th>
      <th> Students</th>
    </tr>
    <tr class="module"> <!-- Human Computer Interaction -->
      <td align="center"> 1 </td>
      <td><a href="https://docs.google.com/document/d/18urVG9ZDx5OA5MaRInFnP8uzaeRcJnpzK5-lk404irY/edit?usp=sharing"> Human Computer Interaction </a></td>
      <td>K, S</td>
    </tr>
    <tr class="module"> <!-- Compilers and Languages -->
      <td align="center"> 1 </td>
      <td><a href="https://docs.google.com/document/d/14hi5eKKBJjt9jm1ZqdCo3LDfFXAeWcuC2IRixR_wHKQ/edit?usp=sharing"> Compilers and Languages</a> </td>
      <td>K, R, S</td>
    </tr>
    <tr class="module"> <!-- Operating Systems -->
      <td align="center"> 1 </td>
      <td><a href="https://docs.google.com/document/d/1luPAKbV0H7r1eUgLoqN_k9hDGS4_LmxaQpWJ5Wwirpo/edit?usp=sharing"> Operating Systems </a></td>
      <td>K, R, S</td>
    </tr>
    <tr class="module"> <!-- Networks -->
      <td align="center"> 1 </td>
      <td><a href="https://docs.google.com/document/d/1ZoKofGkgTjDsgLj31UTLJj3bN-ZIDzLOrdAfW82zTAo/edit?usp=sharing"> Networks </a></td>
      <td>K, R, S</td>
    </tr>
    <tr class="module"> <!-- Advanced Topics in Functional Programming -->
      <td align="center"> 2 </td>
      <td><a href="null"> Advanced Topics in Functional Programming </a></td>
      <td>R, S</td>
    </tr>
    <tr class="module"> <!-- Distributed and Parallel Computing -->
      <td align="center"> 2 </td>
      <td><a href="null"> Distributed and Parallel Computing </a></td>
      <td>R, S</td>
    </tr>
    <tr class="module"> <!-- Network Security -->
      <td align="center"> 2 </td>
      <td><a href="null"> Network Security </a></td>
      <td>K, R, (S?)</td>
    </tr>
    <tr class="module"> <!-- Principles of Programming Languages -->
      <td align="center"> 2 </td>
      <td><a href="null"> Principles of Programming Languages </a></td>
      <td>(S?)</td>
    </tr>
    <tr class="module"> <!-- Ubiquitous and Mobile Computing -->
      <td align="center"> 2 </td>
      <td><a href="null"> Ubiquitous and Mobile Computing </a></td>
      <td>K</td>
    </tr>
  </table>
  <br>

  <div class="logos" align="middle">
    <div class="imgContainer">
      <a href="https://canvas.bham.ac.uk">
        <img border="0" src="images/canvas-logo.jpg" width="200" height="100">
      </a>
    </div>
    <div class="imgContainer">
      <a href="https://my.bham.ac.uk">
        <img border="0" src="images/mybham.jpg" width="200" height="60">
      </a>
    </div>
  </div>

  <br>
  <br>
  <hr/>
  Click on respective Module title to view its notes.
  <br>
</div>
